{% extends 'base.html' %}


{% load static %}


{% block titulo %}

<title>Cadastros</title>

{% endblock titulo %}


{% load crispy_forms_tags %}


{% block conteudo %}

{% if object.pk %}
<h1 class="h3 mb-4 text-gray-800">Editando Cadastro</h1>

<form method="POST" action="">
    {% csrf_token %}

    {{ form | crispy }}

    <div class="text-right">
        <button type="submit" class="save btn btn-warning">Salvar Edição</button>
    </div>
</form>

{% else %}

<!-- Button to Open the Modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
    Modal-Exemplo
</button>

<form action="" method="POST">
    <!-- The Modal -->
    <div class="modal" id="myModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <!-- Modal Header -->
                <div class="modal-header">
                    <h2 class="h3 text-gray-800">Cadastro</h2>
                </div>
                <!-- Modal body -->
                <div class="modal-body">
                    {% csrf_token %}

                    {{ form | crispy }}
                </div>
                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="submit" class="save btn btn-success">Salvar Cadastro</button>

                    <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                </div>
            </div>
        </div>
    </div>
</form>
{% endif %}

{% endblock conteudo %}