{% extends 'base.html' %}


{% load static %}


{% block titulo %}

<title>Teste Index</title>

{% endblock titulo %}


{% block aftercss %}

<!-- fullcalendar css -->
<link href="{% static 'fullcalendar/main.css' %}" rel='stylesheet' />

{% endblock aftercss %}


{% block conteudo %}

<h1 class="h3 mb-4 text-gray-800">Testando... FullCalendar</h1>
<!-- calendario -->
<div id="calendar" class="card" style="pading: 2%"></div>
<!-- checar valores -->
{% for item in object_list %}
titulo: {{ item.title }}
<br>
inicio/fim: {{ item.start }} || {{ item.end }}
<br>
descrição: {{ item.description }}
<br>
status: {{ item.status }}
<br>
<a href="{% url 'updateEvent' item.pk %}" class="btn btn-warning btn-sm"><i class="fas fa-pen"></i> Editar</a>
<a href="  {% url 'deleteEvent' item.pk %} "><i class="fa fa-trash" aria-hidden="true"></i> Deletar</a>
<br><br>
{% endfor %}

{% endblock conteudo %}


{% block afterjs %}
<!-- fullcalendar scripts -->
<script src="{% static 'fullcalendar/main.js' %}"></script>
<script src="{% static 'fullcalendar/locales-all.js' %}"></script>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        var calendarUl = document.getElementById('calendar');
        var calendar = new FullCalendar.Calendar(calendarUl, {
            headerToolbar: {
                left: 'prev,next today',
                center: 'title',
                right: 'dayGridMonth,listMonth'
            },

            events: [
                {% for reserva in object_list %}
                    {
                        title: '{{ reserva.title }} "editavel a beu prazer"',
                        start: '{{ reserva.start|date:"Y-m-d H:i:s" }}',
                        end: '{{ reserva.end|date:"Y-m-d H:i:s" }}',
                        color: '{{ reserva.color|default:"#ffff00" }}',
                    },
                {% endfor %}

                /* evento pra teste */
                {
                    title: 'Birthday Party',
                    start: '2022-02-13T07:00:00',
                    url: 'http://google.com/',
                },
            ],
            /* Mudando cor de fundo dos eventos */
            eventDidMount: function (info) {
                info.el.style.backgroundColor = 'lightgrey';
            },
            /* Cachebuster para imperdir problemas com cache caso use AJAX */
            extraParams: function () {
                return {
                    cachebuster: new Date().valueOf()
                };
            },

            /* EXEMPLOS */
            /* 
            ( TEMAS
                 fullcalendar padrão 
                 fullcalendar com bootstrap nativo(themeSystem)
                 fullcalendar com bootstrap nativo(themeSystem) e import do bootstrap 4
                 fullcalendar com import do bootstrap 4
            */
            
            //themeSystem: 'bootstrap',
            
            /* Evento de clique - campo do calendario */
            dateClick: function (info) {
                alert(' Clicked on: ' + info.dateStr +
                    '\n Coordinates: ' + info.jsEvent.pageX + ',' + info.jsEvent.pageY +
                    '\n Current view: ' + info.view.type);
                // change the day's background color just for fun
                info.dayEl.style.backgroundColor = 'red';
            },
            /* Evento de clique - evento do calendario */
            eventClick: function (info) {
                alert(' Clicked on: ' + info.dateStr +
                    '\n Coordinates: ' + info.jsEvent.pageX + ',' + info.jsEvent.pageY +
                    '\n Current view: ' + info.view.type);
                info.el.style.backgroundColor = 'black';
                /* abri links dentro dos eventos em uma nova guia */
                info.jsEvent.preventDefault();
                if (info.event.url) {
                    window.open(info.event.url);
                }
            },
        });

        calendar.render();
        calendar.setOption('locale', 'pt-br');
    });
</script>

{% endblock afterjs %}